* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F5EEE6;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-name {
    font-size: 60px;
    font-weight: 600;
    color: #E6A4B4;
    text-shadow: 3px 3px 1px #79565f;
    margin: 20px;
    text-decoration: none;
}



#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-form {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

#search {
    margin-top: 10px;

}

#search-bar {
    width: 100%;
}

.search-text {
    font-size: 20px;
    background-color: white;
    border: solid 2px #E6A4B4;
    border-radius: 15px;
}

.search-button {
    cursor: pointer;
}

.search-text-dimensions {
    width: 400px;
    margin-right: 5px;
}

.btn-dimensions {
    width: 100px;
}

#search-button {

    border-radius: 15px;
    background-color: #FFF8E3;
}

#search-button:hover {
    background-color: #fae8b2;
    transition: 0.15s;
}


.dictionary {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

#word-text {
    padding-left: 15px;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px dotted gray;
}

.phonetic-audio-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-definition {
    font-size: 18px;
    font-style: italic;
    color: rgb(103, 113, 114);

}

audio {
    font-size: 5px;
    height: 20px;
    width: 200px;
}

.sub-text {
    font-size: 24px;
    padding-left: 15px;

}

.word-card {
    border: 2px solid #E6A4B4;
    border-radius: 5px;
    margin: 10px 5px;
    background-color: #FFF8E3;
    padding: 3px;
}


.word-text {
    font-size: 50px;
    margin: 5px;
}

.part-of-speech {
    font-style: italic;
    color: rgb(141, 141, 141);
    border-top: 2px solid #E6A4B4;
}

.definition {
    background-color: #fcf8f4;
    border: 1px solid #E6A4B4;
    border-radius: 5px;
    padding-left: 2px;
}

.synonym-word-container {
    display: flex;
    flex-wrap: wrap;
}

.synonym-word {
    margin: 2px;
    padding: 2px;
    background-color: #F3D7CA;
    border-radius: 2px;
    cursor: pointer;
}

.synonym-word:hover {
    transition: 0.1s;
    background-color: #f3c3ad;
}

.definition-example {
    color: rgb(103, 101, 101);
}

.error-message {
    font-size: 30px;
}